header a:hover{
  transition: all 1.0s ease;
  color: #e5ecea;
}
nav .navBarItem:hover{
  background-color: #292826;
}
nav .navBarItemActive:hover{
  background-color: #292826;
}
.iconWrapper li a img:hover{
  margin: 14px;
  width: 52px;
}
