main ol{
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 168px;
}
main ol li{
  background-color: #c9d2d4;
  padding: 12px;
  margin-bottom: 36px;
  border-radius: 6px;
  display: flex;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,.5);
}
main ol li .titleText{
  color: #4A2D1F;
  font-size: 36px;
  padding-bottom: 24px;
}
main .titleText{
  color: #292826;
  font-size: 24px;
}
main .subtitleText{
  color: #292826;
  padding-bottom: 12px;
  font-size: 24px;
}
.dateContent {
  color: #798e93;
  font-size: 16px;
}
main .pictureWrapper{
  display: flex;
}
main ol li img{
  display: block;
  width: 200px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 6px;
  padding-right: 12px;
}
main div .indivIconWrapper{
  background-color: #c9d2d4;
  padding: 4px;
  border-radius: 100%;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,.5);
}
