header{
  z-index: 1;
  background-color: #292826;
  position: fixed;
  top: 0;
  left: 0;
  padding: 14px 0 16px 0;
  width: 100%;
}
header .titleText{
  display: flex;
}
header a{
  text-decoration: none;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  color: #ad8961;
  font-family: 'rush_of_the_geisharegular';
  font-size: 52px;
}
nav{
  background-color: #ad8961;
  position: sticky;
  top: 90px;
  max-width: 100%;
  padding: 20px;
}
nav .navBarMenu{
  display: flex;
}
nav ul{
  white-space: nowrap;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: default;
}
nav li{
  display: inline-block;
  font-size: 24px;
}
nav .navBarItem{
  text-decoration: none;
  padding: 2px 4px 2px 4px;
  margin: 0 6px 0 6px;
  border-radius: 5px;
  color: #e5ecea;
  border-radius: 5px;
}
nav .navBarItemActive{
  text-decoration: none;
  padding: 2px 4px 2px 4px;
  margin: 0 6px 0 6px;
  color: #e5ecea;
  /* border: 2px solid #e5ecea; */
  background-color: #bda080;
  border-radius: 5px;
}
