*{
  margin: 0;
  padding: 0;
  font-family: "verdana";
}
p{
  color: #292826;
  font-size: 15px;
}
h1{
  cursor: default;
}
body{
  background-color: #e0e9e8;
}
main{
  max-width: 100%;
  width: 1200px;
  margin: 106px auto;
  box-sizing: border-box;
}
